# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/uikit-default/advanced/performance.md
docs/uikit-default/advanced/pitfalls.md
docs/uikit-default/advanced/types.md
docs/uikit-default/default-kit/accordion.mdx
docs/uikit-default/default-kit/alert-dialog.mdx
docs/uikit-default/default-kit/alert.mdx
docs/uikit-default/default-kit/avatar.mdx
docs/uikit-default/default-kit/badge.mdx
docs/uikit-default/default-kit/button.mdx
docs/uikit-default/default-kit/card.mdx
docs/uikit-default/default-kit/checkbox.mdx
docs/uikit-default/default-kit/dialog.mdx
docs/uikit-default/default-kit/input.mdx
docs/uikit-default/default-kit/label.mdx
docs/uikit-default/default-kit/pagination.mdx
docs/uikit-default/default-kit/progress.mdx
docs/uikit-default/default-kit/radio-group.mdx
docs/uikit-default/default-kit/separator.mdx
docs/uikit-default/default-kit/skeleton.mdx
docs/uikit-default/default-kit/slider.mdx
docs/uikit-default/default-kit/switch.mdx
docs/uikit-default/default-kit/tabs.mdx
docs/uikit-default/default-kit/textarea.mdx
docs/uikit-default/default-kit/toggle-group.mdx
docs/uikit-default/default-kit/toggle.mdx
docs/uikit-default/default-kit/tooltip.mdx
docs/uikit-default/default-kit/video.mdx
docs/uikit-default/exampleCode/lucide-src/App.tsx
docs/uikit-default/exampleCode/lucide-src/index.tsx
docs/uikit-default/exampleCode/src/App.tsx
docs/uikit-default/exampleCode/src/index.tsx
docs/uikit-default/exampleCode/src/styles.css
docs/uikit-default/exampleCode/src/components/Simulation.tsx
docs/uikit-default/getting-started/banner.jpg
docs/uikit-default/getting-started/basic-example.gif
docs/uikit-default/getting-started/components-and-properties.md
docs/uikit-default/getting-started/default-overview.jpg
docs/uikit-default/getting-started/example-apfel.png
docs/uikit-default/getting-started/example-auth.png
docs/uikit-default/getting-started/example-card.png
docs/uikit-default/getting-started/example-dashboard.png
docs/uikit-default/getting-started/example-lucide.png
docs/uikit-default/getting-started/example-market.png
docs/uikit-default/getting-started/examples.md
docs/uikit-default/getting-started/first-layout.mdx
docs/uikit-default/getting-started/globals.mdx
docs/uikit-default/getting-started/horizon-overview.png
docs/uikit-default/getting-started/introduction.mdx
docs/uikit-default/getting-started/logo.svg
docs/uikit-default/getting-started/vanilla.md
docs/uikit-default/tutorials/custom-fonts.md
docs/uikit-default/tutorials/custom-materials.jpg
docs/uikit-default/tutorials/custom-materials.mdx
docs/uikit-default/tutorials/interactivity.gif
docs/uikit-default/tutorials/interactivity.mdx
docs/uikit-default/tutorials/responsive.md
docs/uikit-default/tutorials/scroll.md
docs/uikit-default/tutorials/sizing.md
